In [16]:
import os
import pandas as pd
import json

In [12]:
os.chdir('../../data/wlasl/wlasl-uncompressed/')

FileNotFoundError: [Errno 2] No such file or directory: '../../data/wlasl/wlasl-uncompressed/'

In [9]:
!dir

missing.txt	nslt_2000.json	train	wlasl_100.json	 wlasl_class_list.txt
nslt_1000.json	nslt_300.json	val	wlasl_10.json	 WLASL_v0.3.json
nslt_100.json	test		videos	wlasl_2000.json

In [13]:
with open('missing.txt') as fin:
    missing = fin.readlines()

with open('nslt_2000.json') as fin:
    videos = json.load(fin)

In [14]:
for value in missing:
    try:
        videos.pop(value.strip('\n'))
    except KeyError:
        pass

In [19]:
df = pd.DataFrame(videos).transpose()
df.head()

      subset         action
65097  train   [481, 1, 74]
35544  train  [1164, 1, 68]
30173   test  [1144, 1, 34]
35548  train  [1164, 1, 24]
24029  train   [208, 1, 28]

In [25]:
df['class'] = df.apply(lambda x: x.action[0], axis=1)
df.head()

      subset         action  class
65097  train   [481, 1, 74]    481
35544  train  [1164, 1, 68]   1164
30173   test  [1144, 1, 34]   1144
35548  train  [1164, 1, 24]   1164
24029  train   [208, 1, 28]    208

In [27]:
df['class'].nunique()

2000

In [40]:
top10 = df['class'].value_counts().iloc[:10].index.tolist()
top10

[3, 14, 20, 1, 5, 2, 12, 9, 7, 51]

In [43]:
value = '65097'
videos[value]

{'subset': 'train', 'action': [481, 1, 74]}

In [44]:
videos[value]['action'][0]

481

In [55]:
for value in list(videos.keys()):
    if videos[value]['action'][0] not in top10:
        try:
            videos.pop(value.strip('\n'))
        except KeyError:
            pass

In [58]:
with open('nslt_10.json', 'w') as fout:
    fout.write(json.dumps(videos))