## Imports

In [46]:
import pandas as pd
import numpy as np
import csv

## Check the structure of the file

In [47]:
with open('autsl_annotations.txt') as fin:
    x = fin.readline()

In [48]:
x

'test/signer34_sample1_color 63 133\n'

In [49]:
x.strip()

'test/signer34_sample1_color 63 133'

In [50]:
x.strip().split('/')

['test', 'signer34_sample1_color 63 133']

In [51]:
x.strip().split('/')[1].split()

['signer34_sample1_color', '63', '133']

In [52]:
x.strip().split('/')[1].split()[0].split('_')

['signer34', 'sample1', 'color']

In [64]:
line =  x

In [65]:
line = line.strip().split('/')
split = line[0]
line = line[1].split()
video_id = line[0]
frames = line[1]
class_id = line[2]
line =line[0].split('_')
signer_id = line[0][6:]

In [66]:
split, video_id, frames, class_id, signer_id

('test', 'signer34_sample1_color', '63', '133', '34')

In [68]:
dict_ = dict(split=split,
         video_id=video_id,
         frames=frames,
         class_id=class_id,
         signer_id=signer_id)

In [69]:
df = pd.DataFrame(data=dict_, index=[dict_['video_id']])

In [70]:
df.head()

                       split                video_id frames class_id signer_id
signer34_sample1_color  test  signer34_sample1_color     63      133        34

In [71]:
df.drop(columns=['video_id'], inplace=True)
df.index.name='video_id'

In [72]:
df.head()

                       split frames class_id signer_id
video_id
signer34_sample1_color  test     63      133        34

## Create a dataframe

In [73]:
with open('autsl_annotations.txt') as fin:
    while True:
        line = fin.readline()
        
        if line == '':
            break
        
        line = line.strip().split('/')
        split = line[0]
        line = line[1].split()
        video_id = line[0]
        frames = line[1]
        class_id = line[2]
        line =line[0].split('_')
        signer_id = line[0][6:]
        
        dict_ = dict(split=split,
         video_id=video_id,
         frames=frames,
         class_id=class_id,
         signer_id=signer_id)
        
        df.loc[dict_['video_id']] = dict_

In [74]:
df.head()

                       split frames class_id signer_id
video_id
signer34_sample1_color  test     63      133        34
signer34_sample2_color  test     70       61        34
signer34_sample3_color  test     54       32        34
signer34_sample4_color  test     64      169        34
signer34_sample5_color  test     65       77        34

## Add gloss information

In [30]:
classes = dict()
with open("./class_id.csv", 'r') as file:
    csvreader = csv.reader(file)
    for i, row in enumerate(csvreader):
        if i==0:
            pass
        else:
            classes[row[0]] = dict(TR=row[1],
                                   EN=row[2])

In [31]:
classes

{'0': {'TR': 'abla', 'EN': 'sister'},
 '1': {'TR': 'acele', 'EN': 'hurry'},
 '2': {'TR': 'acikmak', 'EN': 'hungry'},
 '3': {'TR': 'afiyet_olsun', 'EN': 'enjoy_your_meal'},
 '4': {'TR': 'agabey', 'EN': 'brother'},
 '5': {'TR': 'agac', 'EN': 'tree'},
 '6': {'TR': 'agir', 'EN': 'heavy'},
 '7': {'TR': 'aglamak', 'EN': 'cry'},
 '8': {'TR': 'aile', 'EN': 'family'},
 '9': {'TR': 'akilli', 'EN': 'wise'},
 '10': {'TR': 'akilsiz', 'EN': 'unwise'},
 '11': {'TR': 'akraba', 'EN': 'kin'},
 '12': {'TR': 'alisveris', 'EN': 'shopping'},
 '13': {'TR': 'anahtar', 'EN': 'key'},
 '14': {'TR': 'anne', 'EN': 'mother'},
 '15': {'TR': 'arkadas', 'EN': 'friend'},
 '16': {'TR': 'ataturk', 'EN': 'ataturk'},
 '17': {'TR': 'ayakkabi', 'EN': 'shoe'},
 '18': {'TR': 'ayna', 'EN': 'mirror'},
 '19': {'TR': 'ayni', 'EN': 'same'},
 '20': {'TR': 'baba', 'EN': 'father'},
 '21': {'TR': 'bahce', 'EN': 'garden'},
 '22': {'TR': 'bakmak', 'EN': 'look'},
 '23': {'TR': 'bal', 'EN': 'honey'},
 '24': {'TR': 'bardak', 'EN': 'glass'},
 '25': {'TR': 'bayrak', 'EN': 'flag'},
 '26': {'TR': 'bayram', 'EN': 'feast'},
 '27': {'TR': 'bebek', 'EN': 'baby'},
 '28': {'TR': 'bekar', 'EN': 'single'},
 '29': {'TR': 'beklemek', 'EN': 'wait'},
 '30': {'TR': 'ben', 'EN': 'I'},
 '31': {'TR': 'benzin', 'EN': 'petrol'},
 '32': {'TR': 'beraber', 'EN': 'together'},
 '33': {'TR': 'bilgi_vermek', 'EN': 'inform'},
 '34': {'TR': 'biz', 'EN': 'we'},
 '35': {'TR': 'calismak', 'EN': 'work'},
 '36': {'TR': 'carsamba', 'EN': 'wednesday'},
 '37': {'TR': 'catal', 'EN': 'fork'},
 '38': {'TR': 'cay', 'EN': 'tea'},
 '39': {'TR': 'caydanlik', 'EN': 'teapot'},
 '40': {'TR': 'cekic', 'EN': 'hammer'},
 '41': {'TR': 'cirkin', 'EN': 'ugly'},
 '42': {'TR': 'cocuk', 'EN': 'child'},
 '43': {'TR': 'corba', 'EN': 'soup'},
 '44': {'TR': 'cuma', 'EN': 'friday'},
 '45': {'TR': 'cumartesi', 'EN': 'saturday'},
 '46': {'TR': 'cuzdan', 'EN': 'wallet'},
 '47': {'TR': 'dakika', 'EN': 'minute'},
 '48': {'TR': 'dede', 'EN': 'grandfather'},
 '49': {'TR': 'degistirmek', 'EN': 'change'},
 '50': {'TR': 'devirmek', 'EN': 'topple'},
 '51': {'TR': 'devlet', 'EN': 'government'},
 '52': {'TR': 'doktor', 'EN': 'doctor'},
 '53': {'TR': 'dolu', 'EN': 'full'},
 '54': {'TR': 'dugun', 'EN': 'wedding'},
 '55': {'TR': 'dun', 'EN': 'yesterday'},
 '56': {'TR': 'dusman', 'EN': 'enemy'},
 '57': {'TR': 'duvar', 'EN': 'wall'},
 '58': {'TR': 'eczane', 'EN': 'pharmacy'},
 '59': {'TR': 'eldiven', 'EN': 'glove'},
 '60': {'TR': 'emek', 'EN': 'labor'},
 '61': {'TR': 'emekli', 'EN': 'retired'},
 '62': {'TR': 'erkek', 'EN': 'male'},
 '63': {'TR': 'et', 'EN': 'meal'},
 '64': {'TR': 'ev', 'EN': 'house'},
 '65': {'TR': 'evet', 'EN': 'yes'},
 '66': {'TR': 'evli', 'EN': 'married'},
 '67': {'TR': 'ezberlemek', 'EN': 'memorize'},
 '68': {'TR': 'fil', 'EN': 'elephant'},
 '69': {'TR': 'fotograf', 'EN': 'photograph'},
 '70': {'TR': 'futbol', 'EN': 'football'},
 '71': {'TR': 'gecmis', 'EN': 'past'},
 '72': {'TR': 'gecmis_olsun', 'EN': 'get_well'},
 '73': {'TR': 'getirmek', 'EN': 'bring'},
 '74': {'TR': 'gol', 'EN': 'lake'},
 '75': {'TR': 'gomlek', 'EN': 'shirt'},
 '76': {'TR': 'gormek', 'EN': 'see'},
 '77': {'TR': 'gostermek', 'EN': 'show'},
 '78': {'TR': 'gulmek', 'EN': 'laugh'},
 '79': {'TR': 'hafif', 'EN': 'lightweight'},
 '80': {'TR': 'hakli', 'EN': 'right'},
 '81': {'TR': 'hali', 'EN': 'carpet'},
 '82': {'TR': 'hasta', 'EN': 'ill'},
 '83': {'TR': 'hastane', 'EN': 'hospital'},
 '84': {'TR': 'hata', 'EN': 'fault'},
 '85': {'TR': 'havlu', 'EN': 'towel'},
 '86': {'TR': 'hayir', 'EN': 'no'},
 '87': {'TR': 'hayirli_olsun', 'EN': 'congratulations'},
 '88': {'TR': 'hayvan', 'EN': 'animal'},
 '89': {'TR': 'hediye', 'EN': 'gift'},
 '90': {'TR': 'helal', 'EN': 'halal'},
 '91': {'TR': 'hep', 'EN': 'always'},
 '92': {'TR': 'hic', 'EN': 'never'},
 '93': {'TR': 'hoscakal', 'EN': 'goodbye'},
 '94': {'TR': 'icmek', 'EN': 'drink'},
 '95': {'TR': 'igne', 'EN': 'needle'},
 '96': {'TR': 'ilac', 'EN': 'medicine'},
 '97': {'TR': 'ilgilenmemek', 'EN': 'not_interested'},
 '98': {'TR': 'isik', 'EN': 'light'},
 '99': {'TR': 'itmek', 'EN': 'push'},
 '100': {'TR': 'iyi', 'EN': 'good'},
 '101': {'TR': 'kacmak', 'EN': 'escape'},
 '102': {'TR': 'kahvalti', 'EN': 'breakfast'},
 '103': {'TR': 'kalem', 'EN': 'pencil'},
 '104': {'TR': 'kalorifer', 'EN': 'radiator'},
 '105': {'TR': 'kapi', 'EN': 'door'},
 '106': {'TR': 'kardes', 'EN': 'sibling'},
 '107': {'TR': 'kavsak', 'EN': 'crossroads'},
 '108': {'TR': 'kaza', 'EN': 'accident'},
 '109': {'TR': 'kemer', 'EN': 'belt'},
 '110': {'TR': 'keske', 'EN': 'if_only'},
 '111': {'TR': 'kim', 'EN': 'who'},
 '112': {'TR': 'kimlik', 'EN': 'identity'},
 '113': {'TR': 'kira', 'EN': 'rent'},
 '114': {'TR': 'kitap', 'EN': 'book'},
 '115': {'TR': 'kiyma', 'EN': 'mince'},
 '116': {'TR': 'kiz', 'EN': 'female'},
 '117': {'TR': 'koku', 'EN': 'smell'},
 '118': {'TR': 'kolonya', 'EN': 'cologne'},
 '119': {'TR': 'komur', 'EN': 'coal'},
 '120': {'TR': 'kopek', 'EN': 'dog'},
 '121': {'TR': 'kopru', 'EN': 'bridge'},
 '122': {'TR': 'kotu', 'EN': 'bad'},
 '123': {'TR': 'kucak', 'EN': 'lap'},
 '124': {'TR': 'leke', 'EN': 'stain'},
 '125': {'TR': 'maas', 'EN': 'salary'},
 '126': {'TR': 'makas', 'EN': 'scissors'},
 '127': {'TR': 'masa', 'EN': 'tongs'},
 '128': {'TR': 'masallah', 'EN': 'god_preserve'},
 '129': {'TR': 'melek', 'EN': 'angel'},
 '130': {'TR': 'memnun_olmak', 'EN': 'be_pleased'},
 '131': {'TR': 'mendil', 'EN': 'napkin'},
 '132': {'TR': 'merdiven', 'EN': 'stairs'},
 '133': {'TR': 'misafir', 'EN': 'guest'},
 '134': {'TR': 'mudur', 'EN': 'manager'},
 '135': {'TR': 'musluk', 'EN': 'tap'},
 '136': {'TR': 'nasil', 'EN': 'how'},
 '137': {'TR': 'neden', 'EN': 'why'},
 '138': {'TR': 'nerede', 'EN': 'where'},
 '139': {'TR': 'nine', 'EN': 'grandmother'},
 '140': {'TR': 'ocak', 'EN': 'oven'},
 '141': {'TR': 'oda', 'EN': 'room'},
 '142': {'TR': 'odun', 'EN': 'wood'},
 '143': {'TR': 'ogretmen', 'EN': 'teacher'},
 '144': {'TR': 'okul', 'EN': 'school'},
 '145': {'TR': 'olimpiyat', 'EN': 'olympiad'},
 '146': {'TR': 'olmaz', 'EN': 'nope'},
 '147': {'TR': 'olur', 'EN': 'allright'},
 '148': {'TR': 'onlar', 'EN': 'they'},
 '149': {'TR': 'orman', 'EN': 'forest'},
 '150': {'TR': 'oruc', 'EN': 'fasting'},
 '151': {'TR': 'ozur_dilemek', 'EN': 'apologize'},
 '152': {'TR': 'pamuk', 'EN': 'cotton'},
 '153': {'TR': 'pantolon', 'EN': 'trousers'},
 '154': {'TR': 'para', 'EN': 'money'},
 '155': {'TR': 'pastirma', 'EN': 'pastrami'},
 '156': {'TR': 'patates', 'EN': 'potato'},
 '157': {'TR': 'pazar', 'EN': 'sunday'},
 '158': {'TR': 'pazartesi', 'EN': 'monday'},
 '159': {'TR': 'pencere', 'EN': 'window'},
 '160': {'TR': 'persembe', 'EN': 'thursday'},
 '161': {'TR': 'piknik', 'EN': 'picnic'},
 '162': {'TR': 'polis', 'EN': 'police'},
 '163': {'TR': 'psikoloji', 'EN': 'psychology'},
 '164': {'TR': 'rica_etmek', 'EN': 'request'},
 '165': {'TR': 'saat', 'EN': 'hour'},
 '166': {'TR': 'sabun', 'EN': 'soap'},
 '167': {'TR': 'salca', 'EN': 'sauce'},
 '168': {'TR': 'sali', 'EN': 'tuesday'},
 '169': {'TR': 'sampiyon', 'EN': 'champion'},
 '170': {'TR': 'sapka', 'EN': 'hat'},
 '171': {'TR': 'savas', 'EN': 'war'},
 '172': {'TR': 'seker', 'EN': 'sugar'},
 '173': {'TR': 'selam', 'EN': 'hi'},
 '174': {'TR': 'semsiye', 'EN': 'umbrella'},
 '175': {'TR': 'sen', 'EN': 'you'},
 '176': {'TR': 'senet', 'EN': 'bill'},
 '177': {'TR': 'serbest', 'EN': 'free'},
 '178': {'TR': 'ses', 'EN': 'voice'},
 '179': {'TR': 'sevmek', 'EN': 'love'},
 '180': {'TR': 'seytan', 'EN': 'evil'},
 '181': {'TR': 'sinir', 'EN': 'border'},
 '182': {'TR': 'siz', 'EN': 'you'},
 '183': {'TR': 'soylemek', 'EN': 'say'},
 '184': {'TR': 'soz', 'EN': 'promise'},
 '185': {'TR': 'sut', 'EN': 'milk'},
 '186': {'TR': 'tamam', 'EN': 'okay'},
 '187': {'TR': 'tarak', 'EN': 'comb'},
 '188': {'TR': 'tarih', 'EN': 'date'},
 '189': {'TR': 'tatil', 'EN': 'holiday'},
 '190': {'TR': 'tatli', 'EN': 'sweet'},
 '191': {'TR': 'tavan', 'EN': 'ceiling'},
 '192': {'TR': 'tehlike', 'EN': 'danger'},
 '193': {'TR': 'telefon', 'EN': 'telephone'},
 '194': {'TR': 'terazi', 'EN': 'scales'},
 '195': {'TR': 'terzi', 'EN': 'tailor'},
 '196': {'TR': 'tesekkur', 'EN': 'thanks'},
 '197': {'TR': 'tornavida', 'EN': 'screwdriver'},
 '198': {'TR': 'turkiye', 'EN': 'turkey'},
 '199': {'TR': 'turuncu', 'EN': 'orange'},
 '200': {'TR': 'tuvalet', 'EN': 'toilet'},
 '201': {'TR': 'un', 'EN': 'flour'},
 '202': {'TR': 'uzak', 'EN': 'far'},
 '203': {'TR': 'uzgun', 'EN': 'sad'},
 '204': {'TR': 'var', 'EN': 'existing'},
 '205': {'TR': 'vergi', 'EN': 'tax'},
 '206': {'TR': 'yakin', 'EN': 'near'},
 '207': {'TR': 'yalniz', 'EN': 'alone'},
 '208': {'TR': 'yanlis', 'EN': 'wrong'},
 '209': {'TR': 'yapmak', 'EN': 'do'},
 '210': {'TR': 'yarabandi', 'EN': 'band-aid'},
 '211': {'TR': 'yardim', 'EN': 'help'},
 '212': {'TR': 'yarin', 'EN': 'tomorrow'},
 '213': {'TR': 'yasak', 'EN': 'forbidden'},
 '214': {'TR': 'yastik', 'EN': 'pillow'},
 '215': {'TR': 'yatak', 'EN': 'bed'},
 '216': {'TR': 'yavas', 'EN': 'slow'},
 '217': {'TR': 'yemek', 'EN': 'eat'},
 '218': {'TR': 'yemek_pisirmek', 'EN': 'cook'},
 '219': {'TR': 'yildiz', 'EN': 'star'},
 '220': {'TR': 'yok', 'EN': 'absent'},
 '221': {'TR': 'yol', 'EN': 'road'},
 '222': {'TR': 'yorgun', 'EN': 'tired'},
 '223': {'TR': 'yumurta', 'EN': 'egg'},
 '224': {'TR': 'zaman', 'EN': 'time'},
 '225': {'TR': 'zor', 'EN': 'difficult'}}

In [37]:
df['TR'] = df.apply(lambda x: classes[x['class_id']]['TR'], axis=1)
df['EN'] = df.apply(lambda x: classes[x['class_id']]['EN'], axis=1)

In [38]:
df.head()

                       split frames class_id         TR        EN
video_id
signer34_sample1_color  test     63      133    misafir     guest
signer34_sample2_color  test     70       61     emekli   retired
signer34_sample3_color  test     54       32    beraber  together
signer34_sample4_color  test     64      169   sampiyon  champion
signer34_sample5_color  test     65       77  gostermek      show

In [42]:
cols = ['split', 'class_id','EN', 'TR', 'frames']
df = df[cols]
df.head()

                       split class_id        EN         TR frames
video_id
signer34_sample1_color  test      133     guest    misafir     63
signer34_sample2_color  test       61   retired     emekli     70
signer34_sample3_color  test       32  together    beraber     54
signer34_sample4_color  test      169  champion   sampiyon     64
signer34_sample5_color  test       77      show  gostermek     65